<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <title>Document</title>
</head>
<body>
    <style type="text/css">
        a {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}
       
    </style>
    
    
    <div class="container">
        <h1>
            <%= allBudget.name %>
        </h1>
        <button onclick="location.href='http://localhost:3000/budgets'" type="button">
            BACK</button>
        <h3>Date:  <%= allBudget.date %></h3>
        <h3>Name:  <%= allBudget.name %></h3>
        <h3>From:  <%= allBudget.from %></h3>
        <h3>Amount:  <%= allBudget.amount %></h3>
        <h3>Tags:  <%= allBudget.tags %></h3>
    </div>
</body>
</html>